# Cache/Unused folders
.minecraft/server-resource-packs
.minecraft/CustomSkinLoader
.minecraft/defaultconfigs
.minecraft/etched-sounds
.minecraft/texturepacks
.minecraft/screenshots
.minecraft/shaderpacks
.minecraft/schematics
.minecraft/modernfix
.minecraft/coremods
.minecraft/saves
.minecraft/trees
.minecraft/local
.minecraft/logs
natives

# User files
.minecraft/config/roughlyenoughitems/config.json5
.minecraft/config/voicechat/username-cache.json
.minecraft/usernamecache.json
.minecraft/usercache.json
.minecraft/.sl_password

# Extensions
*.bak