# Cache/Unused folders
server-resource-packs
defaultconfigs
etched-sounds
crash-reports
texturepacks
screenshots
saves
trees
local
logs
natives

# User files
config/voicechat/username-cache.json
config/sidebar_buttons.json
config/jei-client.toml
rhino.local.properties
usernamecache.json
usercache.json
.sl_password
servers.dat
config/jei
ops.json

# Other
OSE2.jar
*.bak
