# Cache/Unused folders
server-resource-packs
CustomSkinLoader
defaultconfigs
etched-sounds
crash-reports
texturepacks
screenshots
schematics
modernfix
coremods
saves
trees
local
logs
natives

# User files
config/voicechat/username-cache.json
config/jei-client.toml
rhino.local.properties
usernamecache.json
usercache.json
.sl_password
config/jei
ops.json
options.txt

# Extensions
*.bak
